<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: new_admin_session_path do |f| %>

  <table>
    <tbody>
      <tr>
        <td><%= f.label :"メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <td><%= f.label :"パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>