<div class="container">
  <div class='row mt-5 mb-3'>
    <div class='col-11 offset-1'>
      <span class="h4 pt-3">管理者ログイン</span>
    </div>
  </div>
  <div class='row'>
    <div class='col-9 offset-3'>
      <table class='table table-borderless'>
        <%= form_with model: @admin, url: new_admin_session_path do |f| %>
          <tbody>
            <tr>
              <td><%= f.label :"メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
            </tr>
            <tr>
              <td><%= f.label :"パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>