<div class="container">
  <div class="row" style="margin-top:40px;">
    <div class="col-9 offset-1">
      <h3 style="display:inline">検索結果</h3>
      <h6 style="display:inline;">(全<%= @records.count %>件)</h6>
        <% if @records.empty? %>
          <div class="text-center m-30">
            <p style="color:red;">
              該当する商品はありません
            </p>
          </div>
        <% end %>
      <div class="d-flex flex-row flex-wrap">
        <% @records.each do |data| %>
          <div class="item-image col-3 mb-1 mr-3">
            <%= link_to item_path(data.id) do %>
              <%= image_tag data.get_image, size:"180x150" %>
            <% end %><br>
            <%= data.name %><br>
            ￥<%= data.with_tax_price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>