<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-9 offset-1">
      <span class="h4"><strong><%= @customer.last_name %><%= @customer.first_name %></strong></span>
      <span class="h4">さんの</span>
      <span class="h4"><strong>会員情報</strong></span>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>会員ID</td>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <td><%= f.label "氏名" %></td>
              <td><%= f.text_field :last_name, placeholder: "令和", autofocus: true %>　<%= f.text_field :first_name, placeholder: "道子" %></td>
            </tr>
            <tr>
              <td><%= f.label "フリガナ" %></td>
              <td><%= f.text_field :last_name_kana, placeholder: "レイワ" %>　<%= f.text_field :first_name_kana, placeholder: "ミチコ" %></td>
            </tr>
            <tr>
              <td><%= f.label "郵便番号" %></td>
              <td><%= f.text_field :postal_code, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <td><%= f.label "住所" %></td>
              <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "w-100" %></td>
            </tr>
            <tr>
              <td><%= f.label "電話番号" %></td>
              <td><%= f.text_field :telephone_number, placeholder: "00000000000" %></td>
            </tr>
            <tr>
              <td><%= f.label "メールアドレス" %></td>
              <td><%= f.text_field :email, placeholder: "sample@example.com" %></td>
            </tr>
            <tr>
              <td><%= f.label "会員ステータス" %></td>
              <td>
                <%= f.radio_button :is_deleted, false, checked: false %>
                <%= f.label:is_deleted, "有効", value: false %>
                <%= f.radio_button :is_deleted, true, checked: true %>
                <%= f.label:is_deleted, "退会", value: true %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "変更を保存",class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>