<h2>ジャンル一覧・追加</h2>
  <%= form_with model: @genre, url: admin_genres_path do |f| %>

    <table>
      <tbody>
        <tr>
          <td>ジャンル名</td>
          <td><%= f.text_field :name, autofocus: true, placeholder: "ジャンル名" %></td>
          <td><%= f.submit '新規登録' %></td>
        </tr>
      </tbody>
    </table>

  <% end %>

<%= @genres.each do |genre| %>
  <table>
    <thead>
      <tr>
        <td>ジャンル名</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= genre.name %></td>
        <td>
          <%= link_to admin_genres_path(genre.id) do %>
            <%= genre.submit  %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>