<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <table>
    <tbody>
      <tr>
        <td><%= f.label :"メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <td><%= f.label :"パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h3>会員登録がお済みでない方</h3>
<%= render "public/shared/links" %>
