<div>
  <h2>商品一覧</h2>
  <p>(全<%= @items.count %>件)</p>
</div>

<div>
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image %><br>
    <% end %>
    <%= item.name %><br>
    ￥<%= item.price.to_s(:delimited) %><br>
  <% end %>
</div>

<%= paginate @items %>