<div>
  <%= image_tag @item.get_image %>
</div>

<div>
  <%= @item.name %>
  <%= @item.introduction %>
  <%= @item.with_tax_price.to_s(:delimited) %>(税込)
</div>

<div>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.select :amount, *[1..10], placeholder: "個数選択" %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
</div>