<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if customer_signed_in? %>
              <ul class="navbar-nav mr-auto">
                <%= link_to root_path, class: "header-logo-letter" do %>
                  <%= image_tag 'no_image.jpg', class: 'admin_shop_logo' %>
                <% end %>
              </ul>
              <nav class="nav navbar-nav">
                <span class="client-name  login-client-name">
                  ようこそ、<%= current_customer.first_name %><%= current_customer.last_name %>さん！
                </span>
              </nav>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to 'マイページ', customers_my_page_path(current_customer.id), class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to '商品一覧', items_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              </ul>
            <% elsif admin_signed_in? %>
              <ul class="navbar-nav mr-auto">
                <%= link_to admin_root_path, class: "header-logo-letter" do %>
                  <%= image_tag 'no_image.jpg', class: 'admin_shop_logo' %>
                <% end %>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_root_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav mr-auto">
                <%= link_to root_path, class: "header-logo-letter" do %>
                  <%= image_tag 'no_image.jpg', class: 'admin_shop_logo' %>
                <% end %>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to "About", about_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-dark' %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= render 'public/searches/search' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= flash[:notice] %>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>